/* 
1--TYPOGRAPHY 
 FONT SIZE SYSTEM (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

 2---COLORS
#ddd;
#555;
#a9ff90;
#d3ffc4(subtle grren)

2---WHITESPACE -SPACING SYSTEM (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  /* color: #001405; */
  color: var(--default-color);
  overflow-x: hidden;
  background-color: rgb(251, 251, 254);
}

:root {
  --brand-color: #39ff14;
  --background-color: #fbfbfe;
  --section-color: #dedcff;
  --default-color: #050315;
  --grey-color: #555;
  --grey--2-color: #333 --border-color: #ccc;
  --website-padding: 0rem 4.8rem;
}

.container {
  padding: var(--website-padding);
  max-width: 120rem;
  margin: 0 auto;

}

.text {
  font-family: "Open-sans", sans-serif;
  font-size: 1.8rem;
  color: #333;
  line-height: 1.2;
}

.primary-heading {
  font-size: 9.8rem;
  line-height: 1.2;
  font-weight: 700;
}

.secondary-heading {
  font-size: 3.0rem;
  font-weight: 600;
}

.teritary-heading {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: inherit;
}


.grid {
  display: grid;
  align-items: center;
  justify-content: center;


}

.grid--3 {
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 1.2rem;
}

.grid--2 {
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  grid-template-rows: auto;
  gap: 1.6rem;

}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.a-c {
  text-align: center;
}

.a-l {
  text-align: left;
}


*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.3rem var(--brand-color);
  border-radius: 1.6rem;
  padding: 0.3rem;
}